
<br>

<br>
<h1 class="head col-lg-12 col-md-12 col-sm-12 " style="text-align: center; margin-top: 3%; text-decoration: #4285F4 underline overline; ">Admin Panel</h1>

<div class="card col-lg-10 col-md-12 col-sm-12 offset-lg-1" style="width: 18rem; float: left; margin-bottom: 5%; background-color: #4285F4;" *ngFor="let obj of arr">
    
    <div class="card-body ">
        <p scope="col"> Name : {{ obj.name}} <br> Last Name : {{obj.last}} <br> Address : {{obj.address}} <br> Mobile : {{obj.mobile}} <br> Email : {{obj.email}} <br> City : {{obj.city}} <br> 
          
    </div>
</div>




<h1>..............................................................................................................................................................................</h1>





